#limit { /* extends */
	text-transform: lowercase;
	color: #b3b3b3;
}

#stats {
	font-family: Courier;
	font-size: 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
}

#stats .value {
	display: inline-block;
	ccolor: #c3c3c3;
}

#fps {
	
}

#overlay {

}

.popper {
	position: relative;
	display: inline-block;
	margin: 1px;
}

.popper > .button {
	position: relative;
	display: inline-block;
	color: #b3b3b3;
    bbackground: #f7f7f7;
    padding: 3px;
    mmargin: 2px;
    ttext-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
}

.popper > .insides {
    position: absolute;
    display: block;
    width: 110px;
}

.popper.right {
	ffloat: right;
	/*position: absolute;
	right: 5px;
	left: 5px;*/
}

.popper > .button:hover { background: #e7e7e7; }
.popper > .button:active { color: black; ppadding: 3px 1px 1px 3px; }

.insides > .option {
	color: #b3b3b3;
    color: #585858;
    background: rgb(235, 235, 235);
    padding: 1px;
}

.insides > .option > .value {
	display: inline-block;
	color: #748fce;
	ccolor: #3E83C0;;
}