#Q {
	position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    padding: 50px;
    background: rgba(84, 96, 111, 0.5);
    background: rgba(59, 87, 123, 0.5);
    bborder: 2px solid rgba(255, 255, 255, 0.02);
    bborder-radius: 2px;
}

#Q:hover {
	bbackground: red;
}

#Q > .off {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: 39px;
    height: 31px;
    border-radius: 10%;
    color: rgb(213, 112, 112);
    background: rgb(189, 30, 1);
    background: -webkit-radial-gradient(center, ellipse cover, #991414 0%,#930C0C 50%,#5A1818 100%);
    border: 2px solid rgb(79, 20, 20);
    outline: 2px solid rgba(65, 65, 65, 0.2);
    box-sizing: border-box;
    float: right;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(21, 21, 21, .5);
    text-align: center;
    padding-top: 4px;
    /* font-size: 8px; */
}

#Q > .off:hover { background: -webkit-radial-gradient(center, ellipse cover, #923434 0%,#962c2c 50%,#5A1818 100%); }
#Q > .off:active {
	padding-top: 6px;
    background: -webkit-radial-gradient(center, ellipse cover, #670e0e 0%,#710b0b 50%,#4e1616 100%);

}

#Q > .knob {
	display: inline-block;
    border-radius: 100%;
    bbackground: rgba(0, 0, 0, 0.22);
    padding: 2px;
    bborder: 2px solid rgba(255, 255, 255, 0.29);
    margin-bottom: 5px;
    bbackground: url(stroef.png);

    ttext-align: center;
    position: absolute;
    right: 15px;
    top: 55px;
}

#Q > .knob .x {
    display: inline-block;
    padding: 3px;
    border-radius: 100%;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

#Q > .knob .xx {
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 100%;
    border: 1px dashed rgb(29, 55, 84);
    bbackground: #DADADA;
    background: -webkit-radial-gradient(center, ellipse cover, #272727 0%,#101010 100%);
    /* box-shadow: 0 0 3px rgba(0, 0, 0, .1); */
}

#Q > .knob .xxx {
    display: inline-block;
    margin-top: -2px;
    width: 3px;
    height: 12px;
    border-radius: 15%;
    background: rgba(103, 46, 0, 0.68);
    background: rgba(150, 77, 18, 0.7);
}

#Q > .label {
    position: absolute;
    display: inline-block;
    display: none;
    left: 10px;
    top: 10px;
    color: rgba(255,255,255,.25);
    font-family: Courier;
    font-size: 10px;
    letter-spacing: 1px;
    color: #263f5f;
    /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.39); */
}

#Q > .screen {
    position: relative;
    display: block;
    width: 700px;
    height: 400px;
    /* background: rgba(255, 255, 255, 0.08); */
    box-sizing: border-box;
    /* border-radius: 4px; */
    /* border: 4px solid rgba(0, 0, 0, 0.3); */
    /* border-top: 4px solid rgba(0, 0, 0, 0.5); */
    /* border-left: 4px solid rgba(0, 0, 0, 0.5); */
    /* box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.27); */
    -webkit-filter: contrast(0.85);
    overflow: hidden;
}

#Q .boot {
    display: block;
    display: none;
    margin: auto;
    font-size: 50px;
    color: whitesmoke;
    font-family: Segoe UI Light;
}

#Q .parts {
	display: block;
	text-align: left;
}

#Q .part {
	display: inline-block;
	width: 48px;
	height: 48px;
	padding: 6px;
	bbox-sizing: border-box;
	border-radius: 2px;
	/* border: 1px solid rgba(160, 168, 204, 0.22); */
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid transparent;
}

#Q .part.selected {
    background-color: rgba(121, 16, 16, 0.7) !important;
    bborder: 1px solid rgb(121, 16, 16) !important;
}

#Q .part:hover {
	background-color: rgba(255,255,255,.5);
	bborder: 1px solid rgba(160, 168, 204, 0.22);
}

#Q .part img {
	
}

#Q .part.hull {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAE9SURBVFjD5ZcxboMwFIa/VFVBIRsSkThFRga2SAxcoUPVW3CM3KDq0ANkZWZjYWNlQgoSG1TQpR2qNxgFoSZIMek/wXtGtn+/z9irMAy/uaEeuLEe5SEIAgCSJAHAcRwAXNcFIMuyWeKbzQaAOI41c6BpGgDqugag6zoA0jRVRn5pPM9zAGzb1rQGyrIEwLIsAJ5fXmft6OP9TamJoig0c6CqKgDatlUafH02V3XwtP6thdPpBIDneZo6sNvtADgej2cbHg4Hpar7vgfAMAwATNNU8lEUKd8LFbI/6EvBdrs923Bs5mP5oYSu5VEgmlrzMWdEy6dgas3HZn4/FEyt+TB/fxRcuw8sn4Lh3v5XLZcC+Z9fq+VRIGc4eZdTszh0aVzuB/o54Pu+MnKpCXFmv9/PEhcatKFg9e9vxz9ddfbiJLwDsQAAAABJRU5ErkJggg==');
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAFhSURBVGje7Zo/aoRAFMZ3lyXKaicoeApLCzvBwiukCLmFx/AGYYscwNbazsbO1kpQsNOgaZLu5RUjq2xmdxzfV33KGxmZj/cb/xzDMPw5bFinw8a1+Rs444MgCMBnWQbeNE3wtm2DL4riYTW6roNP05QiJGaE+r4H33Ud+HEcwed5zlxWHjVlWYI3DIO6kPgRqusavKZp4F/f3p8yuc/rB7M7VVVFERIzQm3bgh+GgTng+6vnOqGXy19HapoGvOu6FCHxI+Q4DvgkSW4OjuOYCaBpmsArigJeVVVmfRRFzOtjwOH9EoFsEyCzLOvm4CWxWVI/JwxTApk0IMNa222WxAyLQCY9yNZ2myWxIZDtCmRru81cPYFstyDjvRcikEkPsrknqf8SgUxKkOH3NrxFIJMGZPgtMT6PP4jgyPGowd/LKELCRsjzPOay4u6EY+b7/sNqMNQIZCLpSD970A3cp1+JCPcCOXomhAAAAABJRU5ErkJggg==');
}

#Q .part.hullangled {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAECSURBVGje7dkxCoMwFAbgWHoHD9ChdHN2FRyC4BFyNudMLl7FGzg4xwxd7FIerxBpHUreg/+fXiQOko/8g4W1djfvTNNUGGW5GOVR/wEFJ8SjhRMI5c6VL+q65ksVtxMIiSK0LIs6TiAkitC6rjTP80xz0zRiOYGQKEJVVdE8jiPNt/vj6P3snEBIbJGVZUnzMwaxnEBIbJFt20azc45IDMOwS+IEQiqKjEcaJxBSUWRHkcAJhFQU2S/JxQmE1BWZNE4gpLrIJHACIRVF1nXdnnoeQkiSO9rjvf+6p+/7U5xAKHc+frO2bZs8Vn47cWa8+P69J8ZoUpxASBQhnAA+4Hxe9U6ybO+epYEAAAAASUVORK5CYII=');
}